.quote-container {
  max-width: 92rem;
  margin: 0 auto;
}

.quote {
  margin-top: 6rem;
}

.quote-auther {
  font-weight: bold;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
}
